@model X.PagedList.IPagedList<DevXuongMoc.Models.News>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div class="row">
        <form action="" method="get" class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="keyword">Tìm theo tài khoản</label>
                <input class="form-control" name="name" id="keyword" placeholder="Nhập tên cần tìm" />
            </div>
            <button type="submit" class="btn btn-default mr-1"><i class="fas fa-search"></i></button>
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Thêm mới</a>
        </form>

<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Code)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th> *@
            <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.MetaTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainKeyword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaKeyword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Star)
            </th> *@
            <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedDate)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().UpdatedDate)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().AdminCreated)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().AdminUpdated)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Isdelete)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td> *@
            <td>
                <img src="@item.Image" alt="@item.Title" width="35px" height="35px">
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.MetaTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainKeyword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaKeyword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Star)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Isdelete)
            </td> *@
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
        <hr />
        @Html.PagedListPager(Model,page=>Url.Action("Index",new{page=page}),new
        X.PagedList.Web.Common.PagedListRenderOptions{

        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"}
        })
    </div>
</body>
</html>
