@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "List Product";
    var products = ViewBag.Products as List<Lesson02.Models.Product>;
    var categories = ViewBag.Categories as List<Lesson02.Models.Category>;
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">DANH MỤC</li>
                @{
                    foreach (var item in categories)
                    {
                        <li class="list-group-item">
                            <a href="/san-pham/@item.Id">@item.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-9">
            <h1>Danh sách sản phầm</h1>
            <div class="d-flex flex-wrap">
                @{
                    foreach (var item in products)
                    {
                        <div class="col-md-4">
                            <img src="@item.Image" alt="">
                            <div class="caption">
                                <h3>@item.Name</h3>
                                <p>
                                    <s>@item.Price</s>
                                    @item.SalePrice
                                </p>
                                <p>
                                    <a href="#" class="btn btn-primary">Chi tiet</a>
                                </p>
                            </div>
                        </div>
                    }

                }

            </div>
            
        </div>
    </div>
</div>