@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Category";
    var product = ViewBag.Product;
}
<h2> Your Profile</h2>
<div class="row">
    <div class="col-md-4">
        <img src="@product.Image" alt="" style="width:100%" />
    </div>
    <div action="col-md-8">
        <h2>Sản phẩm: @product.Name</h2>
        <h3><s>Giá gốc:@product.Price</s> Giá mới: @product.SalePrice</h3>
        <h3>Mô tả:<h5>@product.Description</h5></h3>
        <h3>Trạng thái: @product.Status</h3>

        <p>
            <a asp-controller="Product" asp-action="Index" class="btn btn-sm btn-danger">
                Về danh sách
            </a>
        </p>
    </div>
</div>
