@model DevXuongMoc.Models.AdminLog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AdminLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreadId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebpagesActionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebpagesActionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
