@model IEnumerable<DevXuongMoc.Models.Product>
@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-content all-product">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/anhcat/trai-nghiem1.jpg" alt="" width="1100"
                     height="500">
                <div class="carousel-btn"><button class="btn-buy">Mua ngay</button></div>
            </div>
            <div class="carousel-item">
                <img src="~/images/anhcat/banner.png" alt="" width="1100" height="500">
            </div>
        </div><a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a><a class="carousel-control-next" href="#demo"
               data-slide="next"><span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="all-product__item">
        <div class="all-product__item--title">
            <h4>Phòng khách</h4><a class="see-all" href="/san-pham/phong-khach">Xem tất cả</a>
        </div>
        <div class="row bg-white">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="product-card">
                        <img src="@item.Image" alt="@item.Title" class="product-card-img">
                        <div class="product-card-content">
                            <h6><a asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h6>
                            <p class="old-price">@string.Format("{0:#,##0}",item.PriceOld)VND</p>
                            <p class="new-price">@string.Format("{0:#,##0}",item.PriceNew)VND</p>
                            <a asp-controller="Carts" asp-action="Add" asp-route-id="@item.Id">
                                <i class="fi fi-bs-shopping-bag">Mua hàng</i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
