@model DevXuongMoc.Models.Product

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/Admin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
                <img src="@Model.Image" alt="@Model.Title" width="100px" height="100px">
          
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaKeyword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaKeyword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Star)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Star)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Home)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Home)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isdelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isdelete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-danger">Edit</a> 
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
</body>
</html>
